@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap';
.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 50px 60px;
}
@media (max-width: 480px) {
  .main {
    padding: 25px 30px;
  }
}