@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap';
.icon {
  font-size: 75px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}
.icon:hover {
  color: #02c733;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
@media (desktopXS) {
  .icon {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .icon {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .icon {
    font-size: 40px;
  }
}

.social_icon {
  font-size: 36px;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  padding: 6px;
  background-color: #495670;
  border-radius: 6px;
  color: #091729;
  position: relative;
}
.social_icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #02c733;
}
@media (max-width: 480px) {
  .social_icon {
    font-size: 28px;
  }
}

.caretR {
  position: absolute;
  color: #02c733;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 480px) {
  .caretR {
    left: -25px;
  }
}