@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap';
.progressBarWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  border: 1px solid #02c733;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.progressBarWrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #02c733;
}