@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap';
.social {
  position: fixed;
  left: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.social:hover > .caret_down {
  color: #02c733;
}
.social:hover .line {
  background-color: #02c733;
}
.social .icon {
  font-size: 36px;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  padding: 6px;
  background-color: #495670;
  border-radius: 10px;
  color: #091729;
  position: relative;
}
.social .icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #02c733;
}
.social .line {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 100vh;
  z-index: -1;
  background-color: #495670;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 1170px) {
  .social {
    display: none;
  }
}
@media (max-width: 1400px) {
  .social .icon {
    padding: 4px;
    border-radius: 6px;
    font-size: 26px;
  }
}