@import 'variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin btnTheme($backgroundColor, $btnColor, $fontSize, $fontWeight, $textColor) {
    background-color: $backgroundColor;
    padding: 15px 25px;
    display: inline-block;
    border-radius: $border-radius;
    border: 1px solid $btnColor;
    -webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
    outline: none;
	cursor: pointer;
    transition: $transition;
    color: $malachite-green;
    font-size: $fontSize;
    font-weight: $fontWeight;

    &:hover {
        background-color: lighten($backgroundColor, 5%);
    }
}
