@import 'variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin btnTheme($backgroundColor, $btnColor, $fontSize, $fontWeight, $textColor) {
    background-color: $backgroundColor;
    padding: 10px 20px;
    display: inline-block;
    border-radius: $border-radius;
    border: 1px solid $btnColor;
    -webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
    outline: none;
	cursor: pointer;
    transition: $transition;
    color: $malachite-green;
    font-size: $fontSize;
    font-weight: $fontWeight;

    &:hover {
        background-color: lighten($backgroundColor, 5%);
    }
}

@mixin headerNav() {
    @include flexBetween;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    font-size: $font-sm;
    font-family: $font-mono;
    height: $header-height;
    transition: $transition;
    padding: 0 50px;

    @media ($desktopM) {
        padding: 0 40px;
    }

    @media ($mobileL) {
        padding: 0 30px;
    }

    .logo_wrapper {
        h1 {
        color: $malachite-green;
        user-select: none;
        z-index: 10;
        cursor: pointer;
        color: $lightest-slate;
        margin-top: 10px;

            span {
                color: $malachite-green;
            }

            @media ($tabletS) {
                font-size: $font-xxl;
            }
        }
    }

    div:nth-child(2) {
        display: flex;
    }

    ol {
        @include flexEnd;
        list-style-type: none;
        counter-reset: li;

        a { 
        color: $lightest-slate;
        font-weight: 400;
        transition: $transition;

            &:hover {
            color: $malachite-green;
        }
        }

        li {
        margin: 0 20px;
        counter-increment: li;
        }

        li:last-of-type {
        margin-right: 0;
        }

        li::before {
        content: '0' counter(li) '.';
        margin-right: 5px;
        color: $malachite-green;
        }
    }

    .btn {
        @include btnTheme(transparent, $malachite-green, $font-md, 500, $malachite-green);
        margin-left: 20px;

            &:hover {
            background-color: rgba($malachite-green, .25);
        }
    }
}

@mixin heading {
    font-size: $font-heading;
    color: $lightest-slate;
    position: relative;
    padding-right: 15px;
    @include headingLine;
}

@mixin headingLine {
    &::before {
        content: '';
        position: absolute;
        width: 165px;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $dark-navy;
        z-index: -1;

       
    }

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-color: $malachite-green;
        z-index: -2;
    }
}