@import 'variables', 'mixins';

.about {
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;

    h1 {
        @include heading;
        @include headingLine;
        width: 50%;
    }
}

.about_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    p {
        padding: 0 30px 0 0;
        margin-top: 40px;
    }
}

.carousel {
    @include flexCenter;
    position: relative;
    top: -30px;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 8px;
        border: 2px solid $islamic-green;
        opacity: .35;
        z-index: -1;
        transition: $transition;
    }

    &:hover::after {
        opacity: 1;
    }
}

.carousel_viewport {
    overflow: hidden;
}

.carousel_container {
    display: flex;
}

.carousel_slide {
    position: relative;
    flex: 0 0 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: grab;
    display: flex;

    &:active {
        cursor: grabbing;
    }
    
    &::after {
        content: '';
        transition: $transition;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.45);
    }

    &:hover::after {
        background-color: transparent;
    }
}

.carousel_btns {
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    display: flex;
    justify-content: space-around;

    .embla_prev_disabled, .embla_next_disabled {
        pointer-events: none;
        opacity: .15 !important;
    }

    .icon {
        opacity: .35;
        font-size: 48px;
        cursor: pointer;
        color: $malachite-green;
        transition: $transition;

        &:hover {
            opacity: 1;
        }
    }
}

.carousel_dots {
    position: absolute;
    display: none;
    width: 45%;
    bottom: -40px;
    justify-content: space-around;
}

@media ($desktopXS) {
    .about h1 {
        width: 100%;
    }

    .about_grid {
        grid-template-columns: 1fr;

        .about_text {
            order: 1;
        }

        p {
            padding: 0;
        }
    }

    // Carousel
    .carousel {
        margin: 25px auto;
        order: -1;
        top: 0;

        &::after {
            content: none;
        }
    }

    .carousel_viewport {
        flex: 0 0 90%;
    }

    .carousel_slide {
        &::after {
            content: none;
        }
    }

    .carousel_btns {
        display: none;
    }

    .carousel_dots {
        display: flex;
        
    }
}

@media ($mobileL) {
    .about h1 {
        font-size: $font-xxl;

        &::before {
                width: 115px;
        }
    }
}
