@import 'variables';

.carousel_dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel_dot:after {
    content: "";
    background-color: $lightest-slate;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .is_selected:after {
    background-color: $malachite-green;
    opacity: 1;
  }
  