@import 'mixins', 'variables';

.header {
    @include flexBetween;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    backdrop-filter: blur(10px);
    font-size: $font-sm;
    font-family: $font-mono;
    height: $header-height;
    padding: 0 50px;

    .logo_wrapper {
      width: 250px;

      h1 {
        color: $malachite-green;
        pointer-events: none;
        user-select: none;
      }
    }

    div:nth-child(2) {
      display: flex;
    }

    ol {
      @include flexEnd;
      list-style-type: none;
      counter-reset: li;

      a { 
        color: $light-slate;
        font-weight: 400;
        transition: $transition;

          &:hover {
            color: $malachite-green;
        }
      }

      li {
        margin: 0 25px;
        counter-increment: li;
      }

      li:last-of-type {
        margin-right: 0;
      }

      li::before {
        content: '0' counter(li) '.';
        margin-right: 5px;
        color: $malachite-green;
      }
    }

    .btn {
      @include btnTheme(transparent, $malachite-green, $font-md, 500, $malachite-green);
      margin-left: 25px;

      &:hover {
        background-color: rgba($malachite-green, .25);
    }
  }
    
}