@import 'mixins', 'variables';

// Nav Desktop
.header {
  @include headerNav;
  @media ($desktopXS) {
    .nav_desktop {
      display: none !important;
    }
  }
}

.scrollUp {
  @extend .header;
  height: $header-scroll-height;
  transform: translateY(0);
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 19px 1px rgba(0,0,0,.15);
}

.scrollDown {
  @extend .header;
  height: $header-scroll-height;
  transform: translateY(calc($header-scroll-height * -1));
}

// Menu Icon
.menu_button_container {
  display: none;
  width: 30px;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -10px;
  

  .menu_button,
  .menu_button::before,
  .menu_button::after {
    display: block;
    background-color: $malachite-green;
    position: absolute;
    height: 3px;
    width: 35px;
    border-radius: 2px;
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10;
  }
  
  .menu_button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu_button::after {
    content: '';
    margin-top: 8px;
  }

  @media ($desktopXS) {
    display: flex !important;
  }
}

#menu_toggle {
  display: none;
}

#menu_toggle:checked + .menu_button_container .menu_button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu_toggle:checked + .menu_button_container .menu_button {
  background: rgba(255, 255, 255, 0);
}

#menu_toggle:checked + .menu_button_container .menu_button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

// Nav Mobile
.nav_mobile {
  display: flex;
  position: fixed;
  width: 350px;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(110%);
  background-color: $dark-navy;
  transition: transform .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0px 10px 55px 2px rgba(0,0,0,.45);

  @media ($mobileL) {
    width: 250px;
  }

  ol{
    @include flexCenter;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    margin-top: -50px;

   li {
      width: 100%;
      padding-right: 25px;
      text-align: right;
      font-size: $font-xxl;

      @media ($mobileL) {
        font-size: $font-md !important;
      }

      @media ($tabletL) {
        font-size: $font-lg;
      }
    }

    li:last-of-type {
      margin: 0;
    }
    
    .social {
      display: flex;
      width: 75%;
      justify-content: space-around;
      position: absolute;
      bottom: 20px;
    }
  }

  .btn {
    position: absolute;
    right: -12%;
    bottom: 20%;
    transform: translate(-50%, -25%);
    padding: 15px 35px;

    @media ($mobileL) {
      right: -15%;
      padding: 10px 25px;
    }
  }
}

.active {
  transform: translateX(0%);
}
