@import 'variables', 'mixins';

.hero { 
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;

    
    h1 {
        font-size: $font-lg;
        color: $malachite-green;
        font-family: $font-mono;
        font-weight: 500;
    }

    h2 {
        font-size: 65px;
        color: $lightest-slate;

        @media ($tabletL) {
            font-size: 45px;
        }

        @media ($mobileL) {
            font-size: 35px;
        }
        
    }

    .heading {
        font-size: 55px;

        @media ($desktopXS) {
            font-size: 40px;
        }

        @media ($tabletL) {
            font-size: 35px;
        }

        @media ($mobileL) {
            font-size: 20px;
        }
    }

    span {
        font-family: $font-mono;
        color: $malachite-green;
        font-style: italic;
    }

    p {
        max-width: 550px;

        @media ($mobileL) {
            font-size: $font-sm;
        }
    }
}