@import 'variables';
    
.caretR {
    position: absolute;
    color: $malachite-green;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
   
    @media ($mobileL) {
        left: -25px;
    }
}
