@import 'variables';

.icon {
    font-size: 90px;
    transition: $transition;
    position: relative;

    &:hover {
        color: $malachite-green;
        transform: translateY(-3px);
    }

    @media (desktopXS) {
        font-size: 60px;
    }

    @media ($tabletL) {
        font-size: 50px;
    }

    @media ($mobileL) {
        font-size: 40px;
    }
}
    
.caretR {
    position: absolute;
    color: $malachite-green;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
   
    @media ($mobileL) {
        left: -25px;
    }
}
