@import 'variables', 'mixins';

.projects {
    @include flexCenter;
    flex-direction: column;
    min-height: 100vh;

    h1 {
        @include heading;
        @include headingLine;
        width: 100%;

        &::before {
            width: 145px;
        }
    }
}

@media ($mobileL) {
    .projects h1 {
        font-size: $font-xxl;

        &::before {
            width: 100px;
        }
    }
}