@import 'variables', 'mixins';

.skills {
    @include flexCenter;
    flex-direction: column;
    min-height: 100vh;

    h1 {
        @include heading;
        @include headingLine;
        width: 100%;

        &::before {
            width: 185px;
        }

        span {
            @include headingTextOverLine;
            left: 185px;
        }
    }

    .icon_wrapper {
        display: flex;
        flex-direction: column;
    }
}

.icons_grid {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    place-items: center;
    place-content: center;
}

@media ($desktopXS) {
    .icons_grid {
        margin-top: 70px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media ($mobileL) {
    .skills h1 {
        font-size: $font-xxl;

        &::before {
            width: 130px;
        }

        span {
            @include headingTextOverLine;
            left: 130px;
            top: -3px !important;
            font-size: $font-xxs !important;
        }
    }

    .icons_grid {
        margin-top: 35px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0;
    }
}