@import 'variables', 'mixins';

.skills {
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 80px;

    h1 {
        @include heading;
        @include headingLine;
        width: 100%;

        &::before {
            width: 185px;
        }

        &::after {
            width: 100%;
        }
    }
}

.icons_grid {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    place-items: center;
    place-content: center;
}

@media ($desktopXS) {
    .icons_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media ($mobileL) {
    .skills h1 {
        font-size: $font-xxl;

        &::before {
            width: 130px;
        }
    }

    .icons_grid {
        margin-top: 25px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0;
    }
}