@import 'variables';

.tooltip[data-theme~='default'] {
    background-color: transparent;
    border: 2px solid $malachite-green;
    padding: 0 4px;
    color: $malachite-green;
    font-weight: 700;
    font-size: $font-sm;
    text-transform: uppercase;
    margin-bottom: -2px;

    @media ($desktopXS) {
        font-size: $font-xxs;
    }

    @media ($mobileL) {
        font-size: 10px;
    }
}
